<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %> 
<body>
    <%- include('./partials/nav') %> 
    <div class="blogs content">
        <h2>All Blogs</h2>
        <% if(blogs.length>0) { %>
            <% blogs.map(blog=>{%>
                <h2><%= blog.title %> </h2>
                <p><%= blog.snippet %> </p>
           <% }) %> 
        <% }else{ %> 
            <p>No Blogs yet!</p>
        <% } %> 
    </div>
    <%- include('./partials/footer') %> 
</body>
</html>